.section {
  display: flex;
  align-items: center;
  padding: 100px 0px 100px 0;
}

.container {
  max-width: 1200px;
  margin: 4px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.textContent {
  width: 100%;
  padding: 0px 24px;
}

.paragraph {
  margin-bottom: 1rem;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  border-radius: 0.5rem;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .textContent {
    width: 50%;
  }

  .imageContainer {
    width: 50%;
  }
}
